/* 
    Document   : estilos
    Created on : 18-ene-2011, 14:20:51
    Author     : usuario_local
    Description:
        Purpose of the stylesheet follows.
*/



body {
    background: #204a87 url(stripes.png);
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: arial, helvetica, sans-serif;
    font-size: normal;
}

a {
    color: #3465a4;
}

a:hover {
    color: #204a87;
    text-decoration: none;
}

#header {
    width: 800px;

    font-family: times, "Times New Roman", times-roman, georgia, serif;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;

    /*min-height: 50px;
	height: 50px;*/
    display: block;
    background: #fee;
    margin: 10%;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    padding-left: 30px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px 55px;
    text-align: center;
    color: #325994;
    font-size: 180%;

    margin-left: auto ;
    margin-right: auto ;

}


#container {
    width: 800px;
    background: #fee;
    margin: 10%;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: left;
    padding: 15px;
    padding-left: 30px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px 55px;

    /*border-bottom: 30px solid #1a3a66;*/



    margin-left: auto ;
    margin-right: auto ;
}

#footer {
    width: 800px;
    background: #fee;
    clear: both;
    color: #999;
    margin: 10%;
    margin-top: 8px;
    margin-bottom: 5px;

    padding: 15px;
    /*padding-left: 80px;*/
    margin-top: 8px;
    font-size:80%;
    padding-left: 30px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px 55px;

    margin-left: auto ;
    margin-right: auto ;

}



img {
    border: 0;
}

p {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: arial, helvetica, sans-serif;
}

h3 a, h1 a, h2 a {
    color: whitesmoke;
    text-decoration: none;
}

h1 {
    font-size: 150%;
    letter-spacing: -1px;
    margin: 20px;
}

h2 {
    font-size: 140%;
    color: #058;
}

h3 {
    font-size: 110%;
    border-bottom: 1px solid #ddd;
    color: #000;
}

/* BEGIN FORMS */
label {
    font-weight: bold;
}


input, button {
    background-color:#fee;
    color: #555;
    padding: 2px;
    font-size: x-small;
}

button, input[type="button"], input[type="submit"]  {
    background-color: #efefef;
    color: #666;
    border: 1px solid #999;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
}


button:hover, input[type="button"]:hover, input[type="submit"]:hover  {
    background-color: #1c4b7c;
    color: #fff;
}

button:active, input[type="button"]:active, input[type="submit"]:active {
    background-color: #fff;
    color: #000;
    border: 1px solid #1c4b7c;
}


input[type="text"], input[type="password"], textarea {
    color: #333;
    background-color: #fee;
    border: 1px solid #ddd;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    padding:3px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus	{
    color: #000;
    background-color: #fee;
    border: 1px solid #1c4b7c;
}

textarea {
    width: inherit;
    background-color: #fff;

}

#login {
    width: 30%;
    margin: auto;
}


.fecha {
    color: #999;
    font-size:80%;


}

.usuario {
    color: #325994;
    font-size:80%;


}

.tipoUsuario {
    color: #999;
    font-size:80%;


}


input[disabled], input[readonly], select[disabled], select[readonly],
checkbox[disabled], checkbox[readonly],
textarea[disabled], textarea[readonly] {
    background-color: #CCC;
} 
