/* 
    Document   : estilos2
    Created on : 19-ene-2011, 13:46:47
    Author     : usuario_local
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.home-leftbar {
    min-height: 60px;
    padding-left: 58px;
    border-bottom: 1px solid #fff;
}

.home-leftbar:hover {
    cursor: pointer;
    border-bottom: 1px dotted #ddd;
}

.home-leftbar:hover h3 {
    color: #c00;
    text-decoration: underline;
}

.home-leftbar h3 {
    border:0;
    margin-bottom: 0;
}

#home-get {
    background: #fff url(images/getit.png) top left no-repeat;
}
#home-learn {
    background: #fff url(images/book.png) top left no-repeat;
}
#home-involved {
    background: #fff url(images/involved.png) top left no-repeat;
}
.rn-table {
    border-collapse: collapse;
    width: 100%;
}

.rn-table tr td {
    border-bottom: 1px dotted #ddd;
    padding-bottom: 5px;
    padding-top: 5px;
}

.rn-monthyear
{
    width: 30px;
    float: left;
    text-align: left;
    font-size: 11px;
    letter-spacing: 0.06em;
    line-height: 95%;
    color: #666;
}

.rn-day
{
    width: 30px;
    float: left;
    margin: -6px 4px 0px 0;
    text-align: center;
    font-size: 28px;
    color: #666;
}

.rn-time
{
    display: block;
    width: 80px;
    clear: both;
    letter-spacing: 0.02em;
    font-size: 12px;
    color: #ccc;
}

.rn-date {
    text-align: right;
}

.rn-title {
    padding-left: 15px;
    color: #999;
}

.rn-title a {
    font-weight: bold;
    font-size: 110%;
    text-decoration: none;
}

.rn-feeds {
    text-align: center;
    font-size: small;
    padding: 10px;
    color: #666;
}

.rn-feeds a {
    text-decoration: none;
}

.rn-feeds a:hover {
    text-decoration: underline;
}

.avatar {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	border: 1px solid #000;
}

.blog-entry-nav {
    margin-bottom: 40px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.blog_entry {
	margin-top: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}


.blog-title {
	color: #000;
	font-size: 16px;
	font-weight: bold;
}

.blog-title a {
	text-decoration: none;
	color: #000;
}

.blog-title a:hover {
	color: #4669b1;
}

.blog-body {
	text-align: justify;
}

.entry-meta {
	padding: 5px;
	text-align: right;
	font-size: xx-small;
	color: #999;
}

.blog-tb {
	border: 1px solid #ddd;
	background: #fff;
	padding: 10px;
	font-size: xx-small;
}

.blog-comment-title {
	color: #000;
	font-weight: bold;
	font-size: 110%;
}

.blog-comment-title a, .blog-comment-title a:hover {
	color: #000;
	text-decoration: none;
}


.calendar {
	margin-top: 10px;
	padding: 2px;
	border: 1px solid #ddd;
	width: 100%;
}

.calendar .monthyear {
	color: #fff;
	background: #4669b1;
	font-size: 12px;
	font-weight: bold;
	padding: 2px;
}

.calendar .weekday {
	color: #999;
	background: #eee;
	font-size: 10px;
	font-weight: bold;
	padding: 2px;
}

.calendar .noday {
	color: #aaa;
	font-size: 10px;
	padding: 2px;
}

.calendar .noday a {
	color: #aaa;
	text-decoration: underline;
}

.calendar .day {
	color: #333;
	font-size: 10px;
	padding: 2px;
}

.calendar .day a {
	color: #4669b1;
	text-decoration: underline;
}

.calendar .today {
	background-color: #4669b1;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
}

